.search-form {
  background-color: transparent;
}
.input {
  width: 100%;
  color: white;
  background: rgb(19, 22, 29);
  border: none;
  border-radius: 16px;
  padding: 14px;
  font-size: 14px;

  &-group {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    max-width: 305px;
    background-color: transparent;
  }

  &-search-icon {
    position: absolute;
    right: 1em;
    top: 1em;
    cursor: pointer;
  }
}
input::placeholder {
  color: #8c8988;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
input:focus {
  outline: none !important;
}
