@import url("https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;1,300&display=swap");

* {
  font-family: "Jura", "sans-serif";
}
.container {
  margin: 32px;
  border: 1px solid rgba(207, 123, 90, 0.2);
  border-radius: 40px;
  padding: 20px;
  background-color: rgb(27, 28, 35);
}
.title {
  font-family: "Montserrat", "sans-serif";
  margin-bottom: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  width: 330px;
  height: 40px;
}

.filters-wrapper {
  display: flex;
  background-color: transparent;
  margin-bottom: 10px;
}
