.container-finalize {
  height: 100%;
  margin: 41px 52px 0 48px;
}
.results-title {
  font-family: "Montserrat", "sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  width: 330px;
  height: 40px;
}
