.footer {
  display: flex;
  background-color: #1b1c23;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.pages-wrapper {
  display: flex;
  background-color: transparent;
  align-items: center;
}

.pagination {
  &-wrapper {
    display: flex;
    align-items: center;
    margin-left: 130px;
    background-color: #1b1c23;
    position: absolute;
    right: 0.1em;
  }
  &-header {
    background-color: transparent;
    color: #dcd8d3;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
}

.arrow-wrapper {
  background: #181b22;
  opacity: 0.5;
  border: 1px solid #303238;
  box-shadow: inset 0px 4px 12px -4px rgba(121, 118, 117, 0.7);
  border-radius: 40px;
  border-radius: 40px;
  display: flex;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
}

.arrow-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.arrow-icon {
  margin: 0 auto;
  background-color: transparent;
  width: 7px;
  height: 7px;
  transform: rotate(90deg);

  &__left {
    background-color: transparent;
    width: 7px;
    height: 7px;
    transform: rotate(-90deg);
    margin: 0 auto;
  }
}

.pages {
  background-color: #1b1c23;
  color: #dcd8d3;
  margin: 0 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

@media only screen and (min-width: 600px) and (max-width: 750px) {
  .footer {
    flex-direction: column;
  }
  .pagination-wrapper {
    position: static;
    margin: 10px 0 0 0;
  }
}
